RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt|css|docs|js|system|video|public)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/?$1 [L,QSA]



